<h1>work information</h1>


    <td><%= @work[:title] %> </td>
    <td><%= @work[:artist] %></td>
    <td><%= @work[:published] %></td>
    <button class="btn btn-primary"><%= link_to "Edit", edit_work_path(@work.id), method: :get %> </button>
    <button class="btn btn-primary"><%= link_to "Upvote", work_upvote_path(@work), method: :post %></button>
    <td><%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you super sure?"}%></td>